extends layout

block scripts
  script(src='/lib/sockjs.js')
  script(src='/lib/term.js')
  script(src='/lib/jquery.js')
  script(src='/scripts/app.js')

block styles
  link(href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css",rel="stylesheet")
  link(rel="stylesheet",href="/css/app.css")
  link(rel="stylesheet",href="/css/gradients.css")

block content
  .header
    .icon-container
      i.icon-github-alt.github-button

