form(action="/#{adminRoute}/login", method='post')
    h3 You must authenticate to proceed
    div
      label Username:
      input.login-user(type='text', name='username')
      br
    div
      label Password:
      input.login-pw(type='password', name='password')
    div
      input.btn.btn-primary(type='submit', value='Submit')
    input(type='hidden', name='_csrf', value=token)
  p
    small Hint - admin:secret