form(id='logout',method='POST',action="/#{adminRoute}",style="display:none")
  input(type="hidden",name="_method",value="delete")  
  input(type="hidden",name="_csrf",value=token)  
nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
  .container-fluid
    a.navbar-brand(href="#") Webmud
    if user
      ul.nav.navbar-nav
        li(ng-class="{active: section=='admin'}"): a(href="#/admin") Admin
        li(ng-class="{active: section=='stats'}"): a(href="#/stats") Stats
        li(ng-class="{active: section=='config'}"): a(href="#/config") Config
        li(ng-class="{active: section=='other'}"): a(href="#/other") Other
      ul.nav.navbar-nav.navbar-right
       li:  a(href="#",onclick="document.getElementById('logout').submit();") Logout